body{
    font-family: Muli;
    /*background-color: #E5E5E5;*/
}
.banner{
    width: 100%;
    height: 211px;
    margin: auto;
    margin-top: 35px;
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/Rectangle\ 31.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-header{
    font-family: Raleway;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    line-height: 56px;
    /* margin: 50px 0; */
}
p{
    color: #898585;
}
section hr {
    border-top: 1px solid rgb(156, 155, 154);
}
@media only screen and (max-width: 599px){
    .banner {
        height: 411px;
        margin-top: 10px;
    }
    h2 {
        padding-top: 180px;
    }
    .section-header {
        font-size: 2em;
        font-weight: bold;
        color: #EE5940;
        padding: 0;
        margin-top: 60px;
        margin-bottom: 40px;
        text-align: center;
    }
    .sub-section-header {
        font-size: 21px;
        font-weight: bold;
        color: #EE5940;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    section hr {
        border-top: 1px solid #EE5940;
    }
    #right-img {
        width: 100%;
        margin: 0 auto 20px auto;
    }
    #left-img {
        width: 100%;
        margin: 20px auto;
    }
    #news-and-offers {
        background-color: #4B221B;
        width: 100%;
        margin-top: 80px;
        padding: 20px 0;
        text-align: center;
        vertical-align: middle;
    }
    #news-and-offers span {
        color: #898585;
    }
    #news-and-offers span button {
        color: #EE5940;
        margin: 40px auto;
        margin-bottom: 20px;

    }
    section hr {
        border-top: 1px solid rgb(156, 155, 154);
        background-color: #000000;
        border: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #news-and-offers span input {
        border: 1px solid #898585;
        border-radius: 2px;
    }
}

@media only screen and (min-width: 600px){
    .banner {
        height: 411px;
        margin-top: 10px;
    }
    h2 {
        padding-top: 180px;
    }
    .section-header {
        font-size: 42px;
        font-weight: bold;
        color: #EE5940;
        padding: 0;
        margin-top: 60px;
        margin-bottom: 40px;
        text-align: center;
    }
    .sub-section-header {
        font-size: 21px;
        font-weight: bold;
        color: #EE5940;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    section hr {
        border-top: 1px solid #EE5940;
    }
    #right-img {
        padding: 10px 0 0 10px;
        float: right;
    }
    #left-img {
        padding: 0 10px 0 0;
        float: left;
    }
    #news-and-offers {
        background-color: #4B221B;
        width: 100%;
        margin-top: 80px;
        padding: 10px 0;
        text-align: center;
        vertical-align: middle;
    }
    #news-and-offers span {
        color: #898585;
    }
    #news-and-offers span button {
        color: #EE5940;
        background-color: #000000;
        border: none;
        text-align: right;
    }
    #news-and-offers span input {
        border: 1px solid #898585;
        border-radius: 2px;
    }
    input[type="email"] {
        width: 150px;
    }
}

@media only screen and (min-width: 1024px){
    .banner {
        height: 411px;
        margin-top: 10px;
    }
    .banner-header{
        font-size: 42px;
    }
    h2 {
        padding-top: 180px;
    }
    .section-header {
        font-size: 42px;
        font-weight: bold;
        color: #EE5940;
        padding: 0;
        margin-top: 60px;
        margin-bottom: 40px;
        text-align: center;
    }
    .sub-section-header {
        font-size: 21px;
        font-weight: bold;
        color: #EE5940;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    section hr {
        border-top: 1px solid rgb(156, 155, 154);
    }
    #right-img {
        padding: 10px 0 0 10px;
        float: right;
    }
    #left-img {
        padding: 0 10px 0 0;
        float: left;
    }
    #news-and-offers {
        background-color: #4B221B;
        width: 100%;
        margin-top: 80px;
        padding: 10px 0;
        text-align: center;
        vertical-align: middle;
    }
    #news-and-offers span {
        color: #898585;
    }
    #news-and-offers span button {
        color: #EE5940;
        background-color: #000000;
        border: none;
    }
    #news-and-offers span input {
        border: 1px solid #898585;
        border-radius: 2px;
    }
}