@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;700&display=swap');

* {
	font-family: 'Muli', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
html {
	scroll-behavior: smooth;
}
.container-banner {
	position: relative;
	width: 100%;
	height: 26rem;
}
h2{
	font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}
.bg-overlay {
  position: absolute;
	background-image: url('/bg-image/Rectangle\ 65.svg');
	width: 100%;
	height: 100%;
	background-size: cover;
  object-fit: cover;
  background-position: 100% 100%;
}
.container-banner img{
	margin-top: 55px;
}
.center {
	position: absolute;
	align-items: center;
  justify-content: center;
  display: flex;
	/* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
	font-size: 1rem;
	font-weight: 600;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/Rectangle\ 65.png);
	height: 100%;
	width: 100%;
  color: white;
  font-size: 2rem;
  margin-top: 18px;
}
.container {
	max-width: 1024px;
	width: 80%;
	margin: 0 auto;
}
.container._text {
	margin-top: 4rem;
	text-align: center;
	width: 70%;
	color: grey;
}
.container._text p {
	margin-top: 0.8rem;
	font-size: 1rem;
	line-height: 2;
}
.container.rooms {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.container._room_text {
	text-align: center;
	background-color: black;
	color: white;
	width: 100%;
	margin-top: 0;
}
.sub-container {
	margin-right: 1rem;
	margin-top: 3rem;
}
.maiin {
	position: relative;
}
.sub-container:hover {
	transition: 0.3s;
	transform: scale(1.1);
}
.contact_info {
	position: absolute;
	top: 50px;
	left: 5px;
	font-size: 0.7rem;
	text-align: center;
	padding: 1rem 0.8rem;
	border-right: 1px solid grey;
}
.contact_info_number {
	border-top: 1px solid grey;
	border-bottom: 1px solid gray;
}
.contact_info div {
	margin-top: 1rem;
}
.container._rooms {
	margin-top: 2rem;
}
.room_info {
	border: 1px solid gray;
	width: 550px;
	margin: auto;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}
.info_details {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 0.8rem;
	border-radius: 5px;
}
.info_details > div {
	max-width: 100%;
	font-size: 0.6rem;
}
.info_details > img {
	display: block;
	margin-right: 1.5rem;
	width: 130px;
}
h5,
.amt {
	font-size: 0.8rem;
	font-weight: 600;
}
span {
	display: block;
}
.book {
	position: absolute;
	bottom: 20px;
	right: 20px;
	background-color: black;
	color: #ee5940;
	padding: 5px 20px;
	border-radius: 5px;
	font-size: 0.8rem;
	font-weight: 700;
	cursor: pointer;
}
.more_page {
	margin-top: 2rem;
	text-transform: capitalize;
}
.more_page div {
	margin: auto;
	padding: 8px 10px;
	background-color: black;
	text-align: center;
	width: 100px;
	font-size: 0.7rem;
	border-radius: 5px;
}
.more_page div a {
	color: #ee5940;
	text-decoration: none;
}

footer {
	background: #1c1a19;
	color: #ee5940;
}
#footer-sm {
	display: flex;
	padding: 16px;
	margin-top: 3rem;
	font-size: 12px;
}
#footer-sm-link {
	margin-left: auto;
	margin-right: 2rem;
}
#footer-sm-link a {
	text-decoration: none;
	display: inline-block;
	margin-right: 1rem;
	color: #ee5940;
}
#copyright {
	margin-left: 2rem;
}
.angle-up {
	margin-right: 3rem;
}
#button {
	cursor: pointer;
}

@media (max-width: 900px) {
	.contact_info {
		position: unset;
		font-size: 1rem;
	}

	/* .container.rooms {
    flex-wrap: wrap; 
  } */
}
