/**Form Styling Starts*/
.container {
  max-width: 1440px;
  background: #ffffff;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.contact-container {
  padding: 50px 100px;
}
.contact-page .contact-us .text {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: #898585;
}

.contact-us {
  padding-bottom: 40px;
  box-sizing: border-box;
}

.contact-us h5 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: block;

  color: #ee5940;
}

.contact-us p i {
  padding-right: 15px;
}

.message h5 {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  display: block;

  color: #ee5940;
}

.message input[type="button"] {
  color: #ee5940;
}
@media only screen and (max-width: 500px){
.contact-container{
  padding-left: 0;
  padding-right: 0;
}
}