body{
    font-family: Muli;
    box-sizing: border-box;
}
/* .containerr{
    text-align: center;
} */


.header_container {
    position: relative;
    text-align: center;
}
.bar {
    width: 2.5rem;
    height: .3rem;
    background-color:#EE5940; 
    margin-top: .3rem;
    border-radius: 10px;
    
}
h1 {
    color: #898585;
    font-size: 1rem;
}
.toggle_button {
    position: absolute;
    right: 10px;
    top: 30px;
}
ul {
    list-style-type: none;    
}

li {
    margin: .5rem;
    padding: 5px;    
}
a {
    text-decoration: none;
    color: white;
}
.nav-links {
    text-align: left;
    background-color: #EE5940; 
    display: none;   
}
a:hover {
    text-decoration: underline;
}

.nav-links.toggle_active {
    display: block;
}

@media (min-width: 900px) {

    li {
        display: inline-block;
    }
    .nav-links {
        text-align: center;   
        background-color: white; 
        display: block;
           
    }    
    .toggle_button {
        display: none;
    }
    a {
        text-decoration: none;
        color:black;
    }
}