/* logo */
.logo{
    align-items: center;
    display: flex;
    margin: auto;
    justify-content: center;
    position: relative;
}
.image1{
    position: relative;
    top: 0;
}
.image2{
    position: absolute;
    top: 60px;
}
.navbar-nav li{
    padding: 0 10px;
}
.nav-link{
    margin: 20px; 
}
.active .nav-link{
    color: orangered !important;
}
.navbar-nav .active{
    color: orangered !important;
}
.navbar-nav a:hover{
    border: 1px solid #EE5940;
    color:  #898585;
}
/*-------slider----*/
#slider{
    width: 100%;
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial !important;
}
.text{
    text-align: center;
}
.carousel-caption h3{
    color: #fff;
    font-size: 45px;
}
/* about */
#about .container{
    width: 80%;
    align-content: center;
}
#about{
    padding-top: 50px;
    padding-bottom: 50px;
}
#about h3::after{
    content: '';
    background: black;
    display: block;
    height: 3px;
    width: 50px;
    margin: 7px auto 5px;
}
.special{
    color: orangered;
    font-weight: bold;
    font-size: 40px;
}
.about-content{
    color: rgb(65, 64, 64);
    padding-top: 20px;
}
.about-content p{
    text-align: left;
    color: rgb(65, 64, 64);
    padding-top: 20px;
}
.suite{
    border: 1px;
    border-radius: 50%;
}
/* booking */
#booking{
    background-color: #800000;
}
.shadow .mb-2{
font-size: 28px;
line-height: 80%;
margin-left: 80px;
color: #fff;
}
.shadoww .mb-2{
    font-size: 28px;
    color: #fff;
    line-height: 80%;
    margin-left: 60px;

}
#booking h2, p{
    text-align: center;
    color: #fff;
}
img .card-title{
    width: 100%;
}
.booking-image {
    filter: sepia(.3);
}
.divider {
    background-color: rgba(192, 189, 189, 0.897);
    height: 1px;
    margin: 10px 0px;
}
.text-orangered {
    color: orangered;
}
.border-none {
    border: 1px solid transparent;
}
*,
*::before
*::after {
	box-sizing: border-box;
}




body {

	background-color: #E5E5E5;
	margin: 0;

}


.gallery--title {

	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 45px;
	text-align: center;
    color: #EE5940;
}

/* Slider */

.gallery .container {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
        align-items: center;
        height: 150px;
}
.gallery .container > div {
	margin: 5px;
}
.button1 {

  	height: 40px;
 	width: 40px;
 	background-color: #000000;
	border-radius: 50%;

}
.button2 {
	height: 40px;
  	width: 40px;
  	background-color: #000000;
  	border-radius: 50%;

}
.greater-than {
	font-size: 30;
	color: #EE5940;

}
.less-than {
	font-size: 30;
	color: #EE5940;
}
@media (max-width: 786px){
    .container h3{
        text-align: center;
        font-size: 19px;
    } 
/* .navbar-light .navbar-toggler-icon {
    background-color: #EE5940;
    margin-top: -110px;

}
.navbar-light .navbar-toggler {
border-color: #fff;    
border-style: none;
} */
    .image1{
        width: 45%;
    }
    .image2{
        margin-top: -15px;
        width: 25%;
    }
    .text{
        text-align: center;
    }
    .carousel-caption h3{
        color: #fff;
        font-size: 30px;
    }
    .suite {
        border: 1px;
        border-radius: 50%;
        width: 100%;
    }
    #about h3::after{
        content: '';
        background: black;
        display: block;
        height: 3px;
        width: 20px;
        margin: 7px auto 5px;
    }   
    .shadow .mb-2{
margin-left: 110px;
    }
    .shadoww .mb-2{
margin-left: 110px;
    }
    .gallery-sm .container{
        display: block;
        margin: 0 auto;
        width:50%;
       /* justify-content: center; */
    }
    .mb-2 {
        /* display: block; */
        width: 50%;
        text-align: center;
        margin-left: 85px;
        /* margin: 0 auto; */
    }
    .text-orangered {
        color: orangered;
        font-size: .9em;
    }
}

